<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        {{#if loggedIn}}
            <a href="/dashboard">Dashboard</a>
                <!-- Change the Logout link to a POST form -->
                <form id="logout-form" action="/users/logout" method="POST" style="display: inline;">
                <button type="submit" id="logout-button">Logout</button>
            </form>
        {{else}}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        {{/if}}
    </nav>

    {{{body}}}

    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>