<h1>Your Dashboard</h1>

<!-- Display user's posts -->
{{#each posts}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
  </div>
{{/each}}

<!-- Logout Button -->
<form id="logout-form" action="/users/logout" method="POST">
  <button type="submit" id="logout-button">Logout</button>
</form>